@import '../../../styles/settings.scss';

// .root {
// }



.navBar {
    border-bottom: 1px solid #bdc3c7;
}
.navLogo {
    display: flex;
    align-items: center;
       

    p {
        margin: 0 500px 0 5px;
        font-family: Bethsy, serif;
    }
}
