@import '../../../styles/settings.scss';

// .root {
// }



.navBar {
    background-color: $color-blue;
}
.navLogo {
    display: flex;
    align-items: center;       

    p {
        margin: 0 500px 0 5px;
        font-family: $font-family;
        font-weight: 900;
        font-size: 30px;
        color: white;
    }

    img {
        height: 100px;
    }
}
