@import '../../../styles/settings.scss';

// .root {
// }

.rowCart {
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid $color-box;
    border-bottom: 2px solid $color-box;
}

.sendInfo {
    padding: 10px 10px;
}