@import '../../../styles/settings.scss';

.cardBody {
    margin-right: 40px;
}

.cardProduct {
    padding: 50px 0;
    font-family: $font-family;
}

.cardRow {
    padding: 30px 0;
}

.cardGallery img {
    float: left;
    margin-left: 30px;
    width: 120px;
    
}

.cardLine {
    border-bottom: 2px solid $color-box;
    margin-bottom: 10px;
}

.info {
    width: 300px;
    height: 120px
}

.name {
    font-size: 32px;
    font-weight: 800;
}

.title {
    font-size: 18px;
}

.description {
    font-size: 18px;
}

.category {
    font-size: 12px;
}

.price {
    font-size: 28px;
    font-weight: 600;
}

.addCartForm {
    display: flex;
    flex-direction: column;
    width: 150px;
}
