@import '../../../styles/settings.scss';

.root {
  background-color: $color-pink;
  font-family: $font-family;
  
    
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      display: inline-block;
      line-height: 55px;
  
      a {
        color: white;
        font-size: 25px;
        text-decoration: none;
  
        &:hover {
          color: $color-yellow;
          text-decoration: none;
        }
      }
    }
  }
}

.topMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topCoupon {
  display: flex;
  padding-top: 10px;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.topMenu ul li {
  margin-left: 40px;

  .icon {
    margin-right: 5px;
  }
}