@import '../../../styles/settings.scss';

.footerMenu {
    background-color: $color-blue;
    padding: 40px 0;

    .menuWrapper {
      h6 {
        color: white;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;

        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: white;
            text-decoration: none;

            &:hover {
              color: $color-yellow;
            }
          }
        }
      }
    }
}

.bottomBar {
    background-color: $color-pink;
    padding: 20px 0;

    .copyright {
      p {
        margin: 0;
        color: white;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
        float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: white;
            text-decoration: none;

            &:hover {
              color: $color-yellow;
            }
          }
        }
      }
    }
}
